@model UserViewModel
@{
    Layout = "_AdminLayout";
}
<h2 class="text-center mb-5">Admin Profile</h2>
<h4 class="text-success text-center mb-5">@TempData["Message"]</h4>
<div class="container">
    <div class="mb-3">
        <p class="form-control-plaintext">Admin Name : @Model.UserName</p>
    </div>

    <div class="mb-3">
        <p class="form-control-plaintext">Email : @Model.Email</p>
    </div>

    <div class="mb-3">
        <p class="form-control-plaintext">Phone Number : @Model.PhoneNumber</p>
    </div>

    <div class="mb-3">
        <p class="form-control-plaintext">Address : @Model.Address</p>
    </div>

    <!-- Profile update and logout buttons -->
    <a class="btn btn-primary" asp-controller="Admin" asp-action="EditUser" asp-route-userId="@Model.Id">Update Profile</a>
    <a class="btn btn-secondary" asp-controller="Admin" asp-action="AdminResetPassword" asp-route-userId="@Model.Id">Reset Password</a>
    <a class="btn btn-danger" asp-controller="Home" asp-action="Logout">Logout</a>
</div>
