@using GoldenJourneysWebApp.Enums
@model TourDetailEditViewModel
@{
	Layout = "_AdminLayout";
}

<h2 class="text-center mb-5">Edit Package Details</h2>

<form method="post" class="container">
    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <input type="number" asp-for="Id" class="form-control" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    @* <div class="mb-3">
        <label asp-for="Type" class="form-label"></label>
        <input type="text" asp-for="Type" class="form-control"/>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div> *@
    <div class="mb-3">
        <label asp-for="Type" class="form-label"></label>
        <select asp-for="Type" class="form-select" required>
            <option value="" selected disabled>Select Tour Type</option>
            @foreach (var tourType in Enum.GetValues(typeof(TourType)).Cast<TourType>())
            {
                <option value="@tourType">@tourType</option>
            }
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Location" class="form-label"></label>
        <input type="text" asp-for="Location" class="form-control"/>
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="States" class="form-label"></label>
        <select asp-for="States" class="form-select" required>
            <option value="" selected disabled>Select State or Region</option>
            @foreach (var regions in Enum.GetValues(typeof(States)).Cast<States>())
            {
                <option value="@regions">@regions</option>
            }
        </select>
        <span asp-validation-for="States" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input type="number" asp-for="Price" class="form-control"/>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="Status" class="form-label"></label>
        <select asp-for="Status" class="form-select">
            <option value="" selected disabled>Select Account Status</option>
            <option value="Active">Active</option>
            <option value="Disabled">Disabled</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-primary" asp-controller="Tour" asp-action="ViewDetails" asp-route-Id="@Model.Id">Cancel</a>
</form>
