@model List<TourViewModel>
@{
	Layout = "_AdminLayout";
}

<div class="container mt-5">
	<h2 class="text-center mb-5">List of Tours</h2>
	@* <h4 class="text-success text-center mb-5">@TempData["Message"]</h4>*@
	<!-- Create New Admin Button -->
	<div class="text-center mb-4">
		<a class="btn btn-primary" asp-controller="Tour" asp-action="CreateTour">Create New Tour Package</a>
	</div>
	<h4 class="text-success text-center mb-5">@TempData["Message"]</h4>
	<div class="form-group">
		<a class="btn btn-primary" asp-controller="Tour" asp-action="Index">All</a>
		<a class="btn btn-primary" asp-controller="Tour" asp-action="FilterTours" asp-route-Status="Active">Active</a>
		<a class="btn btn-primary" asp-controller="Tour" asp-action="FilterTours" asp-route-Status="Disabled">Disabled</a>
	</div>


</div>
<table class="table mt-4">
	<thead>
		<tr>
			<th>No.</th>
			<th>Name</th>
			<th>Tour Id</th>
			<th>Type</th>
			<th>State or Region</th>
			<th>Price</th>
			<th>Tour Status</th>
			<th>Created At</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@{
			int counter = 1;
		}
		@foreach (var tour in Model)
		{
			<tr>
				<td>@counter</td>
				<td>@tour.Name</td>
				<td>@tour.Id</td>
				<td>@tour.Type</td>
				<td>@tour.States</td>
				<td>@tour.Price $</td>
				<td>@tour.Status</td>
				<td>@tour.Created</td>
				<td>
					<a class="btn btn-primary" asp-controller="Tour" asp-action="ViewDetails" asp-route-id="@tour.Id">Details</a>
				</td>
			</tr>
			counter++;
		}
	</tbody>
</table>