@model TourViewModel
@{
	Layout = "_AdminLayout";
}
<h2 class="text-center mb-5">@Model.Name</h2>
<h4 class="text-success text-center mb-5">@TempData["Message"]</h4>
<form method="post" class="container" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <input type="number" asp-for="Id" class="form-control" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" asp-for="Name" class="form-control" readonly/>
    </div>
    <div class="mb-3">
        <label asp-for="Type" class="form-label"></label>
        <input type="text" asp-for="Type" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label asp-for="Location" class="form-label"></label>
        <input type="text" asp-for="Location" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input type="number" asp-for="Price" class="form-control" min="0" readonly />
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control" readonly></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="Created" class="form-label"></label>
        <input type="date" asp-for="Created" class="form-control" readonly />
    </div>

    <div class="mb-5">
        <label asp-for="Status" class="form-label"></label>
        <input type="text" asp-for="Status" class="form-control" readonly />
    </div>

    <a class="btn btn-primary mb-5" asp-controller="Tour" asp-action="EditTourDetails" asp-route-Id="@Model.Id">Edit Details</a>

    <h4 class="mb-5">Package Gallary</h4>
    <div class="container mt-4 mb-5">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
            @if(Model.ImageURLs.Count() != 0)
            {
                @foreach (var imageUrl in Model.ImageURLs)
                {
                    <div class="col">
                        <div class="card">
                            <img src="~/TourImages/@imageUrl.MediaPathURL" class="card-img-top" alt="@imageUrl.Title" style="object-fit: cover; width: 100%; height: 200px;">
                        </div>
                    </div>
                }
            }
            else{
                <p class="form-control text-danger">No Image Provided.</p>
            }
        </div>
    </div>

    <a class="btn btn-primary mb-5" asp-controller="Tour" asp-action="EditGallery" asp-route-id="@Model.Id">Edit or Add Images</a>

    <h4 class="mb-5">Package Availabilty Slots</h4>
    @* <div class="mb-5">
        <label class="form-label">Search by Date:</label>
        <input type="date" class="form-control" />
    </div> *@
    <table class="table mt-4">
        <thead>
            <tr>
                <th>No.</th>
                <th>Date</th>
                <th>Initial Capacity</th>
                <th>Available Capacity</th>
                <th>Slot Id</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;
            }
            @if(Model.AvalibleSlots.Count != 0)
            {
                foreach (var slot in Model.AvalibleSlots)
                {
                    <tr>
                        <td>@counter.</td>
                        <td>@slot.AvailableDate</td>
                        <td>@slot.OriginalCapacity pax</td>
                        <td>@slot.AvailableCapacity pax</td>
                        <td>@slot.Id</td>
                    </tr>
                    counter++;
                }
            }
            else
            {
                <tr>
                    <td class="text-danger">Package not available on any dates.</td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary mt-5" asp-controller="Tour" asp-action="Index">Go Back</a>

</form>
